.auth-card {
   padding: 30px 30px 30px 30px;
   border-radius: 20px;
   width: 450px;
}

.auth-card-title {
   text-transform: uppercase;
   font-size: 40px;
   line-height: 45px;
   text-align: center;
   letter-spacing: -0.015em;
   color: #263238;
   font-weight: normal;
}